<div class="scrollable-content scrollable">  

  <div class="nice-width editor-container" ng-init="">    
    <div ng-show="show == 'editor'">
      <h3 class="overlay-title">Muokkaa tietoja</h3>                          

      <p>
        <b>{{"TITLE"| translate}}</b>
        <input 
          bs-form-control
          type="title" 
          label=""
          ng-model="data.title"                 
          placeholder="{{'TITLE'| translate}}"
          size="200"
          />
      </p>

      <p>
        <b>{{"CONTENTS"| translate}}</b>
      <div ui-ace="{         
           useWrapMode: true,
           mode: 'html',
           theme: 'github',
           firstLineNumber: 1      
           }"         
           id="aceEditor_content"
           ng-show="editorACE"
           mcc-file-drop-zone
           file-drop-zone-on-drop="fileReceived"                    
           mcc-bind-keys="ctrl-s"
           bind-keys-ctrl-s="save"
           ng-model="data.content"
           style="height: 600px; text-align: left; border: 1px solid #ccc; border-radius: 4px;">
      </div>

      <div ng-hide="editorACE">

        <textarea style="width: 100%; height: 600px;"
                  class="my-bs-style"
                  mcc-file-drop-zone                  
                  file-drop-zone-on-drop="fileReceived"                  
                  mcc-bind-keys="ctrl-s"
                  bind-keys-ctrl-s="save"
                  ng-model="data.content"
                  ></textarea>
      </div>
      
      <br><br>
      <p>

        <button class="btn btn-primary" ng-click="save()">{{"SAVE"| translate}}</button>

        <button class="btn btn-info" toggle="off" bubble target="mcc.overlayEditorData">{{"CLOSE"| translate}}</button>

        <button class="btn btn-primary" ng-click="editorACE = !editorACE">{{"ACE_TEXTAREA"| translate}}</button>

      </p>
    </div>    
    <!-- figure editor -->
    <mcc-editor-figure         
         figure-receive="figureSubmitToEditor"
         figure-save="fileSaveCallback"
         figure-cancel="figureCancel"
         ng-show="show == 'figure'">           
    </mcc-editor-figure>
    
  </div>

</div>
