<div overlay="mcc.overlayEditorNews">

  <div class="scrollable-content scrollable">  

    <div class="nice-width editor-container">          

      <!-- EDITOR -->

      <div ng-show="show == 'editor'">
        <h3 class="overlay-title" ng-hide="modify">{{"NEWS.ADD"| translate}}</h3>                      
        <h3 class="overlay-title" ng-show="modify">{{"NEWS.MODIFY"| translate}}</h3>          
        <p>
          <b>{{"NEWS.IS_PUBLISHED"| translate}}</b><br><br>

          <span class="center-table">
            <switch ng-model="news.published"></switch>
          </span>

        </p>

        <p>
          <b>{{"TITLE"| translate}}</b>
          <input 
            bs-form-control
            type="text" 
            label=""
            ng-model="news.title"                 
            placeholder="{{'TITLE'| translate}}"
            size="200"
            />
        </p>

        <div>
          <b>{{"NEWS.INGRESS"| translate}}</b>
          <div ui-ace="{         
               useWrapMode: true,
               mode: 'html',
               theme: 'github',
               firstLineNumber: 1
               }"         
               ng-show="editorACE"
               id="aceEditor_ingress"
               mcc-file-drop-zone
               file-drop-zone-on-drop="fileReceived"
               file-drop-zone-param="figureParam.ingres"
               mcc-bind-keys="ctrl-s"
               bind-keys-ctrl-s="save"
               ng-model="news.ingress"
               style="height: 160px; text-align: left; border: 1px solid #ccc; border-radius: 4px;">
          </div>
          <div ng-hide="editorACE">

            <textarea style="width: 100%; height: 160px;"
                      mcc-file-drop-zone
                      class="my-bs-style"
                      file-drop-zone-on-drop="fileReceived"
                      file-drop-zone-param="figureParam.ingres"
                      mcc-bind-keys="ctrl-s"
                      bind-keys-ctrl-s="save"
                      ng-model="news.ingress"
                      ></textarea>
          </div>
        </div>

        <div>
          <b>{{"CONTENTS"| translate}}</b>
          <div ui-ace="{         
               useWrapMode: true,
               mode: 'html',
               theme: 'github',
               firstLineNumber: 1      
               }"         
               id="aceEditor_contents"
               ng-show="editorACE"
               mcc-file-drop-zone
               file-drop-zone-on-drop="fileReceived"
               file-drop-zone-param="figureParam.contents"
               mcc-bind-keys="ctrl-s,ctrl-w"
               bind-keys-ctrl-s="save"
               bind-keys-ctrl-w="cancel"
               ng-model="news.contents"
               style="height: 350px; text-align: left; border: 1px solid #ccc; border-radius: 4px;">
          </div>
          <div ng-hide="editorACE">
            <textarea style="width: 100%; height: 350px;"
                      mcc-file-drop-zone
                      class="my-bs-style"
                      file-drop-zone-on-drop="fileReceived"
                      file-drop-zone-param="figureParam.contents"
                      mcc-bind-keys="ctrl-s,ctrl-w"
                      bind-keys-ctrl-s="save"
                      bind-keys-ctrl-w="cancel"
                      ng-model="news.contents"
                      ></textarea>
          </div>
        </div>

        <br><br>
        
        <p>

          <button class="btn btn-warning" ng-show="modify" ng-click="setCurrentTime()">{{"NEWS.SET_CURRENT_TIME"| translate}}</button>

          <button class="btn btn-primary" ng-click="save()">{{"SAVE"| translate}}</button>          

          <button class="btn btn-info" toggle="off" bubble target="mcc.overlayEditorNews">{{"CLOSE"| translate}}</button>

          <button class="btn btn-danger" ng-click="del(news.id)" ng-show="modify">{{"DELETE"| translate}}</button>

          <button class="btn btn-primary" ng-click="editorACE = !editorACE">{{"ACE_TEXTAREA"| translate}}</button>

          <br><br>
          <b>{{"NOTE"| translate}}!</b> {{"DROP_IMAGE_SUPPORT  "| translate}}

        </p>  
      </div>

      <!-- Figure editor -->           
      <mcc-editor-figure  
        ng-show="show == 'figure'"
        figure-follow="newFigure"
        figure-receive="figureSubmitToEditor"
        figure-save="fileSaveCallback"
        figure-params="currentFigureParams"
        figure-cancel="figureCancel">         
      </mcc-editor-figure>          

    </div>

  </div>

</div>